
<div class="container-fluid">
  <img src="./assets/iso-iphone-xs.jpg" class="img-fluid" />
</div>

<hr />
<h1 style="color: #1976d2">Phone Models</h1>

<div class="phone-details">
  <div class="container" style="border: solid black;" *ngFor="let product of products; index as productId">
    <div *ngIf="product.imgUrl">
      <img [src]="product.imgUrl" class="img-fluid p-5" />
    </div>

    <h6 class="pl-2">
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', productId]"
      >
        {{ product.name }}
      </a>
    </h6>
    <p class="price" style="margin-top: 20px;">{{ product.price | currency }}</p>

    <div class="pl-2">
      <p
        *ngIf="product.short_description"
        [routerLink]="['/products', productId]"
      >
        Description: {{ product.short_description }}
      </p>

      <button class="btn btn-primary btn-sm mr-2" (click)="share()">
        <fa-icon [icon]="faFacebookF"></fa-icon>
      </button>
      <button class="btn btn-primary btn-sm mr-2" (click)="share()">
        <fa-icon [icon]="faTwitterSquare"></fa-icon>
      </button>
      <button class="btn btn-primary btn-sm" (click)="share()">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </button>

      <button class="btn btn-info ml-5" (click)="addToCart(product)">
        Buy Now
      </button>
    </div>
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
    <hr />
  </div>
</div>
