h2{
    background-color: #f2f2f2;
    padding: 8px 0;
    color: #1976D2;
  }
  
  p:hover{
  cursor: pointer;
  }
  
  .price{
    font-weight:700;
    margin-top: -20px;
  }

  .phone-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 20px;
  }

  .container {
    margin-right: 10px;
  }
